html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
    color-scheme: light dark;
    supported-color-schemes: light dark;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    border-top: 4px solid #452be9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.section {
    background: rgba(39,37,55,1);
    background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(39,37,55,1) 100%);
    border: 0.1px solid rgba(39,37,55,1);
}

.section.negative {
    background: none;
}

.iOS .player {
    float: right;
    margin: 40px 0 40px 80px;
    right: 40px;
    position: relative;
}

.iOS .player > video {
    width: 375px;
    padding: 12px 0 0 16px;
    clip-path: inset(12px 0 0 16px round 44px);
}

.iOS .player .overlay {
    position: absolute;
    top: -10px;
    left: -6px;
    background: url("../assets/iPhone_natural.png") no-repeat center left;
    background-size: contain;
    width: 420px;
    height: 855px;
}

.watchOS .player {
    float: left;
    margin: 40px 160px 240px 40px;
    left: 0px;
    position: relative;
}

.watchOS .player > video {
    width: 205px;
    position: relative;
    top: 96px;
    left: 32px;
    padding: 12px 0 0 16px;
    clip-path: inset(12px 0 0 16px round 44px);
}

.watchOS .player .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background: url("../assets/watch_normal.png") no-repeat center left;
    background-size: contain;
    width: 300px;
    height: 470;
}

.macOS .player {
    margin: 0 auto 20px auto;
    width: 980px;
    position: relative;
}

.macOS .player > video {
    width: 752px;
    position: absolute;
    top: 75px;
    left: 114px;
}

.macOS .player .overlay {
    position: relative;
    top: 0;
    left: 0;
    background: url("../assets/macBookPro.png") no-repeat center center;
    background-size: contain;
    width: 980px;
    height: 638px;
}

.tvOS .player {
    margin: 0 auto 20px auto;
    width: 980px;
    position: relative;
}

.tvOS .player > video {
    width: 876px;
    position: absolute;
    top: 27px;
    left: 23px;
}

.tvOS .player .overlay {
    position: relative;
    background: url("../assets/tv.png") no-repeat center center;
    background-size: contain;
    width: 980px;
    height: 634px;
}

.visionOS .player {
    margin: 60px auto 40px auto;
}

.visionOS .player > video {
    width: 980px;
    height: 735px;
}

h1 {
    color: #fff;
    font: bold 3em/2em "Inter Tight", sans-serif;
    margin: 1% 0 0 0;
}

.watchOS h1 {
    padding-top: 180px;
}

.macOS h1, .tvOS h1, .visionOS h1 {
    text-align: center;
    padding-top: 80px;
}

.macOS h1 {
    padding-top: 100px;
}

p {
    color: #cacaca;
    font: 1.2em/1.45em Georgia, Verdana, "Times New Roman", serif;
}


.links {
    padding: 80px 0 60px 0;
    display: flex;
    gap: 16px;
}

a, a:hover, a:visited {
    font: bold 1em/1em "Inter Tight", sans-serif;
    border: 1px solid #6C99D6;
    padding: 8;
    color: #6C99D6;
    text-decoration: none;
}

.iOS .logo {
    padding: 80px 0 0 0;
}

p.description {
    padding: 0 0 80px 0;
    font: bold 1.4em/1.6em "Inter Tight", sans-serif;
    color: rgb(214, 212, 212);
}

.watchOS p.description {
    padding-bottom: 180px;
}


.macOS p.description, .tvOS p.description, .visionOS p.description  {
    padding-bottom: 0px;
    text-align: center;
}

.section p {
    font: 1.4em/1.6em "Inter Tight", sans-serif;
    padding: 0 0 20px 0;
}

.links a {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8;
}

.bottom {
    margin: 20px 0;
}

.bottom p {
    font: 0.8em/1.1em "Inter Tight", sans-serif;
    color: #333;
}

.section.negative {
    background: #fafafa;
}

.negative h1 {
    color: #000;
}

.negative p {
    color: #4a4a4a;
}

.negative p.description {
    color: #8a8a8a;
}

@media (prefers-color-scheme: dark) {
    .bottom p {color: #ccc}
    
    .iOS .player .overlay {
        background: url("../assets/iPhone_black.png") no-repeat center left;
        background-size: contain;
    }

    .watchOS .player .overlay {
        background: url("../assets/watch_black.png") no-repeat center left;
        background-size: contain;
    }

    
}

@media only screen and (max-width: 1023px) {
    .iOS, .watchOS, .macOS, .tvOS, .visionOS {
        margin: 0 20px;
    }

    .player, .player .overlay, .player > video {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .content {
        width: 980px;
        margin: 0 auto;
        position: relative;
    }
}

