 name: Package Test

 on:
   push:
     branches: [ "main" ]
   pull_request:
     branches: [ "main", "next" ]

 jobs:
  coverage:
    uses: oleksiikolomiietssnapp/swift-coverage-action/workflow.yml@feature/reduce-redundancy
