 name: Package Test

 on:
   push:
     branches: [ "main" ]
   pull_request:
     branches: [ "main", "next" ]

 jobs:
   uses: oleksiikolomiietssnapp/swift-coverage-action/.github/workflows/swift-coverage.yml@feature/cleanup-leftovers
