name: Package Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "next" ]

jobs:
  coverage:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oleksiikolomiietssnapp/swift-coverage-action@1.0.0
